h1{
    color: red;
    background-color: chartreuse;
} /*Giving styling to HEADING 1*/

h2{
    color: crimson;
    background-color: aqua;
}

button{
    color: blue;
    background-color: blanchedalmond;
} /*Giving styling to Button*/

/*Giving styling to box id */
#box {
    height :250px;
    width : 100px;
    background-color:brown;
    color : antiquewhite;
    border : 1px solid black ;
}
